* {
    margin: 0;
    padding: 0;
}

header {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

.navfirst {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    background-color: darkblue;
    height: 30px;
    align-items: center;
}

.icons {
    padding-left: 30px;
}

.btn {
    padding-right: 30px;
}

.btn button {

    font-family: "Montserrat";
    text-align: center;
    background-color: orange;
    padding: 3px 5px;
    font-size: 10px;
    font-weight: 600;
}

.btn a {
    text-decoration: none;
    color: black;
}

.navsecond {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.logo {
    padding-left: 30px;
}

.anchor {
    padding-right: 20px;
    font-size: 13px;
    font-weight: 700;
}

.anchor a {
    text-decoration: none;
    margin-right: 10px;
    color: orange;
}

#home {
    border-bottom: 5px solid darkblue;
    padding-bottom: 5px;
}

.section1 {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.think-racket {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    height: 300px;
    color: white;
    align-items: center;
    text-align: center;
     
}
.heading{
    padding-top: 60px;
}
.heading h1{
    font-family: 'Montserrat', sans-serif;
    
}
.heading p{
    padding-top: 10px;
    font-size: 14px;
    word-spacing: 3px;
}
 .heading :nth-child(2){
    font-size: 33px;
 }
 .like-png{
    align-items: center;
    display: flex;
    flex-direction: column;
    
 }
 .like-png img{
    padding-top: 14px;
 }
 .section2{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
 }
 .ourservice{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
 }
 .ourservice a{
    text-decoration: none;
    font-size: 13px;
 }
 .grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-top: 40px;
    position: relative;
 }
 #orange{
    color: orange;
 }
 #blue{
    color:darkblue;
 }
 #learn-more{
 margin-top: 20px;
 background-color: darkblue;
 color: white;
 padding: 5px 25px;
 }
 #line-right{
    max-width: 480px;
    width: 100%;
    height: 4px;
    background-color: darkblue;
    align-items: center;
    position: absolute;
    top: 11px;
    left: 59%;
 }
 .colum{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .grid p{
   position: absolute;
   top: 200px;
   color:white;
   font-weight: 700;
   font-size: 13px;
 }
 .section3{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
 }
 .aboutus{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
 }
 #line-left{
    max-width: 480px;
    width: 100%;
    height: 4px;
    background-color: orange;
    align-items: center;
    position: absolute;
    top: 19px;
 }
 .paragraph{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
 }
 .back-gray{
    max-width: 700px;
    width: 100%;
    background-color: gray;
    height: 140px;
    margin-top: 30px;
 }
 .back-gray p{
    max-width: 650px;
    padding: 15px 0px;
    margin-left: 20px;
    text-align: justify;
 }
 .secondimg{
    position: absolute;
    top: -45px;
    left: 85%;
 }
.section4{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
.ourstory{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
}
#line-right1{
    max-width: 480px;
    width: 100%;
    height: 4px;
    background-color:darkblue;
    align-items: center;
    position: absolute;
    top: 11px;
    left: 59%;
}
.seconadpara{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.back-2{
    max-width: 700px;
    width: 100%;
    background-color: gray;
    height: 170px;
    margin-top: 30px;
}
.back-2 p{
    max-width: 650px;
    padding: 15px 0px;
    margin-left: 20px;
    text-align: justify;
}
.table{
    position: absolute;
top: 90px;
left: -25px;
z-index: 1;
}
.sky{
    position: absolute;
    top: 40px;
    left: 90px;
    z-index: -1;
}
.tence{
    position: absolute;
    top: -15px;
    left:0;
}
.section5{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
.userexp{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
}
#line-left1{
    max-width: 480px;
    width: 100%;
    height: 4px;
    background-color: orange;
    align-items: center;
    position: absolute;
    top: 13px;
}
.box{
     display: flex;
     justify-content: space-between;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px; 
    
}
.box1{ 
     
    max-width: 200px;
    width: 100%;
    background-color:whitesmoke;
    align-items: center;
    border-radius: 40px;
    height: 300px;
    box-shadow: 0px 10px 16px 5px ;
}
.box2{
    max-width: 200px;
    width: 100%;
    box-shadow: 0px 10px 16px 5px ;
    align-items: center;
    border-radius: 40px;
    height: 300px;
    background-color:whitesmoke;
}
.box3{
    box-shadow: 0px 10px 16px 5px ;
    max-width: 200px;
    width: 100%;
    align-items: center;
    border-radius: 40px;
    height: 300px;
    background-color:whitesmoke;
}
.box4{
    max-width: 200px;
    width: 100%;
    background-color:whitesmoke;
    align-items: center;
    border-radius: 40px;
    height: 300px;
    box-shadow: 0px 10px 16px 5px ;
}
.radius{
    margin-top: -30px;
    border: 2px solid orangered;
    padding: 10px;
    border-radius: 30px;
}
.box1 h2{
  margin-top: 20px;
}
.box1 p{
    width: 180px;
    background-color: gray;
    padding: 20px 0px;
    margin-left: 10px;
     margin-top: 20px;
}
.box2 p{
    width: 180px;
    background-color: gray;
    padding: 20px 0px;
    margin-left: 10px;
     margin-top: 20px;
     
}
.box3 p{
    width: 180px;
    background-color: gray;
    padding: 20px 0px;
     margin-left: 10px;
     margin-top: 20px;
}
.box4 p{
    width: 180px;
    background-color: gray;
    padding: 20px 0px;
     margin-left: 10px;
     margin-top: 30px;
}
.section6{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    
}
.parents1{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
}
.btndown{
    padding-top: 50px;
}
#line-right2{
    max-width: 480px;
    width: 100%;
    height: 4px;
    background-color:darkblue;
    align-items: center;
    position: absolute;
    top: 14px;
    left: 62%;
}
.container{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 3px solid black;
}
.news{
    padding-top: 100px;
    padding-bottom: 50px;
}
.section7{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
}
.ragistered{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
}
#line-left2{
    max-width: 380px;
    width: 100%;
    height: 4px;
    background-color: orange;
    align-items: center;
    position: absolute;
    top: 13px;
}
.certificate{
    padding-top: 70px;
}
 
.section8{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.lastfoot{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: darkblue;
    display: flex;
    justify-content:  space-between;
    align-items: center;
    height: 200px;
}
.foot2{
    display: flex;
    flex-direction: column;
    border-right: 5px solid white;
    max-width: 300px;
    width: 100%;
    height: 120px;
    margin-left: 30px;
    text-align: center;
}
.foot2 h3{
   width: 180px;
   color: white;
   padding-left: 20px;
   line-height: 30px;
}
.foot2 p{
    padding-top: 20px;
    color: white;
}
.flexx{
    display: flex;
}
.foot3{
    display: flex;
    max-width: 300px;
    width: 100%;
    color: white;
    border-right: 5px solid white;
   
}
#number{
    margin-top: 5px;
}
.foot3 p{
    padding-left: 10px;
    margin-top: 20px;
}
.foot4{
    color: white;
    border-right: 5px solid white;
    max-width: 250px;
    width: 100%;
    font-size: 14px;
    text-align: center;
}
.foot5{
    color: white;
   text-align: center;
    max-width: 250px;
    width: 100%;
    font-size: 14px;
}
/* -----------responsive for mobile---------------- */

@media only screen and (min-width:320px) and (max-width:560px){

.navsecond{
    display: flex;
    justify-content: space-between;
}
#forall{
    display: none;
}
#none{
    display: none;
}
#line-right{
    display: none;
}
.grid{
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    position: relative;
}
.grid .colum{
    padding-top: 40px;
}
.colum img{
    width: 330px;
}
#theeve{
position: absolute;
top: 1540px;
}
#appli{
    position: absolute;
    top: 320px;
}
#tourn{
    position: absolute;
    top: 720px;
}
#theven{
    position: absolute;
    top: 1140px;
}
#line-left{
    display: none;
}
.paragraph{
    display: flex;
    flex-direction: column;
    position: relative;
}
.back-gray{
    width: 100%;
    height: 210px;
    background-color: transparent;
}
.back-gray p{
    padding: 14px;
    margin-left: 0;
}
.circle{
    width: 100%;
    padding-top: 40px;
}
.secondimg{
    position: absolute;
    top: 52%;
    left: 50%;
}
 #line-right1{
    display: none;
 }
 .seconadpara{
    width: 100%;
    position: relative;
 }
  .seconadpara{
    display: flex;
    flex-direction: column;
    height: 360px;
    margin-top: 40px;
  }
  .table{
    position: absolute;
    left: 50%;
    top: 25%;
  }
  .tence{
    position: absolute;
    left: 52%;
    top: 0;
  }
  .sky{
    position: absolute;
    left: 6%;
    top: 0;
  }
    .back-2{
        background-color: transparent;
        margin-left: 0;
    }
    .userexp{
        padding-top: 50px;
    }
    #line-left1{
        display: none;
    }
 .box{
    flex-direction: column;
    row-gap: 70px;
 }
 .box1, .box2, .box3, .box4{
    
    align-self: center;
 }
 #line-right2{
    display: none;
 }
 .news img{
    width: 340px;
 }
 .btndown img{
    width: 70px;
 }
 #line-left2{
    display: none;
 }
  
 .ragistered h1{
    width: 100%;
    font-size: 19px;
 }
 .certificate{
    padding-top: 30px;
 }
 .certificate img{
    width: 340px;
 }
 .lastfoot{
    flex-direction: column-reverse;
    height: auto;
    row-gap: 30px;
 }
 .foot2{
    border-right: none;
    padding-bottom: 10px;
 }
 .foot3{
    border-right: none;
    
 }
 .foot4{
    border-right: none;
 }
 .foot5{
    padding-top: 20px;
 }
  .foot-img{
    padding-top: 8px;
  }



}
 
 
 